@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

<div class="alert alert-danger mt-4" role="alert">
    <h4 class="alert-heading">Дуже Важливо! Наслідки для Зашифрованих Даних!</h4>
    <p>
        Якщо ви продовжите процедуру скидання пароля та встановите новий пароль, ваші поточні ключі шифрування, які захищені старим паролем, будуть видалені для забезпечення безпеки вашого облікового запису.
    </p>
    <hr>
    <p class="mb-0">
        Це означає, що ви <strong>назавжди втратите доступ до всіх даних та файлів, які були зашифровані до моменту скидання пароля.</strong> Цю дію неможливо буде скасувати.
    </p>
    <p class="mt-2 mb-0">
        Якщо ви згадали свій поточний пароль, рекомендуємо скасувати процедуру скидання та увійти до системи звичайним способом.
    </p>
</div>
